@media (min-width: 991px) {
    nav .collapse {
        display: inline-block;
    }
    nav .collapse li {
        display: inline-block;
    }
}

@media(max-width:1199px){
     nav img{
        width: 120px;
        max-width: inherit;
    }
}
@media (min-width:991px) and (max-width:1199px){
    .contact-form i,.contact-form a{
        font-size: 14px
    }
    nav img{
        margin-top: 6px;
    }
}
@media(max-width:991px){
    .home .slider{
        margin-bottom: 100px;
        margin-top: 100px;
    }
    .navbar-toggler {
        display: inline-block;
        position: absolute;
        top: 8px;
        left: 20px;
        border-radius: 0;
        color: #173D64;
        background-color: #FFF;
    }
    nav ul li a{
        display: block;
        text-align: center;
    }
    nav ul{
        position: absolute !important;
        background-color: #173D64;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 999
    }
    nav ul li:last-child{
        float: none
    }
    nav ul li:last-child a{
        width: 100%;
        display: block;
        border-radius: 0;
    }
    .partner div{
        display: block;
    }
    .partner div img{
        margin: auto
    }
    .downMag{
        position: fixed;
        top: 75px;
        left: 0px;
        display: inline-block;
    }
    .downMag a.custom-btn{
        border-radius: 0;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
    }
}
@media(max-width:767px){
    .animateDiv{
        display: none
    }
    .contact-form a {
        font-size: 17px;
    }
}
.show-ft{
    display: none
}
@media(min-width:576px) and (max-width:767px){
    .contact-form .section-title .row span{
        font-size: 16px
    }
}
@media(max-width:575px){
    .ft{
        float: right;
        width: 46%;
    }
    .ft p {
        text-align: right;
    }
    .hidden-ft{
        display: none
    }
    .show-ft{
        display: block;
        text-align: right;
        width: 100%;
        margin-bottom: 23px;
        padding-right: 12px;
        font-size: 25px;
    }
    .contact-form .section-title .row{
        text-align: left
    }
    .contact-form .section-title p {
        margin-left: 0;
        width: 100%;
        font-size: 17px
    }
    
}
@media(max-width:360px){
    .contact-form .section-title .row a{
        font-size: 15px
    }
}