/*Table Content
==========================
    # General
        - Fonts
    # Links
    # Headings
    # Lists
        - Social-List
        - Contact-List
    # Images
*/


/* General
======================= */
/* Fonts */
@font-face {
    font-family: 'bein';
    src: url(../vendor/fonts/bein.TTF);
}
*, *:hover, *:focus{
    outline: 0 !important;
    box-shadow: none;
}
body{
    font-size: 18px;
    font-family: 'bein';
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
/*    overflow-x: hidden*/
}
.custom-btn{
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer
}
.custom-btn.white{
    color: #173D64 !important;
    background-color: #FFF;
    border:1px solid #173D64;
    transition: all .3s cubic-bezier(.53,-.01,0,1.49)
}
.custom-btn.white:hover{
    color: #fff !important;
    background-color: #173D64;
    border:1px solid #173D64;
    
}
.swal-button,
.custom-btn.blue{
    color: #fff !important;
    background-color: #173D64!important;
    border:1px solid #173D64!important;
    transition: all .3s cubic-bezier(.53,-.01,0,1.49)
}
.swal-button:hover,
.custom-btn.blue:hover{
    color: #173D64 !important;
    background-color: #fff!important;
    border:1px solid #173D64!important;
    
}
/* Links
==========================*/
a{
    
}
a, a:hover, a:focus{
    text-decoration: none;
    color: inherit
}
/* Headings 
========================== */
h1, h2, h3, h4, h5, h6 {
    display: block;
    margin: 0;
}
p{
    margin: 0;
}
/*Lists
==========================*/
ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Images
=========================== */
img{
    display: block;
    max-width: 100%;
    height: auto;
}
/* Section Setting
============================ */ 
.section-lg{
    padding: 80px 0;
}

.navbar-toggler {
  display: none;
}

/* nav
======================== */
nav{
    background-color: #173D64;
    color: #FFF;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999
}
nav .brand{
    padding: 2px 0
}
nav .brand img{
    
}
nav ul{
    
}
nav ul li{
    
}
nav ul li:last-child{
    float: left
}
nav ul li a {
    padding: 15px;
    display: inline-block
}
nav .custom-btn{
    margin: 11px 0 0;
    display: inline-block;
}
.downMag{
    display: none
}
/* home
=======================*/ 
.home{
    height: calc(100vh - 70px);
    background: url(../images/2-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 550px;
    max-height: 1000px;
    position: relative
}
.home h1{
    font-size: 30px;
    color: #173D64;
    margin-bottom: 10px;
    z-index: 55;
    position: relative;
}
.home a{
    display: inline-block;
    z-index: 55;
    position: relative;
}
.animateDiv{
    position: absolute;
    top: 15vh;
}
.animateDiv .lg{
    position: relative;
      animation: secondcloud 50s ease-in-out  alternate-reverse infinite;
    transform: translateX(220px) ;
}
.animateDiv .sm{
    position: relative;
    top: -100px;
    left: -115px;
    animation: fristcloud 50s ease-in-out  alternate-reverse infinite;
    transform: translateX(-220px) ;
}
 @keyframes fristcloud {
  0%, 50%, 100% {
    transform: translateX(-230px) ;
  }
   25%,75% {
    transform: translateX(220px)  ;
  }
}
@keyframes secondcloud {
  0%, 50%, 100% {
    transform: translateX(230px) ;
  }
   25%,75% {
    transform: translateX(-220px)  ;
    }
}
/*service
======================= */
.service{
    background-color: #BEF7FF;
    
}
.service .custom-btn{
    background: none
}
/* section-title
======================== */
.section-title{
    margin-bottom: 30px
}
.section-title h2{
    font-size: 28px;
    color: #173D64;
    margin-bottom: 15px
}
.section-title p {
    margin-bottom: 15px;
    width: 90%;
    text-align: justify;
}
/* slick dots
==============*/
.slick-dots {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -30px;
}
.slick-dots > li {
  display: inline-block;
  height: 8px;
  background-color: #898989;
  width: 8px;
  margin-right: 8px;
  border-radius: 35px;
  cursor: pointer;
}
.slick-dots > li.slick-active {
  background-color: #173D64;
  width: 25px;
}
.slick-dots > li > button {
  display: none;
}
/* about
================= */
.about{
    
}
.about .logo{
    padding: 30px 0;
    border-radius: 5px;
    margin-bottom: 40px;
}
.about .logo img{
    max-width :400px;
    width: 100%;
    margin: auto
}
.about-widget {
    position: relative;
    height: 450px;
    background-color: #F00;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFF;
    border-radius: 10px;
    box-shadow: 0 10px 40px 0px rgba(0,0,0,0.36)
}
.about-widget a{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99
}
.about-widget .widget-img{
    margin-bottom: 20px;
    position: relative;
    transition: all .3s cubic-bezier(.53,-.01,0,1.49)
}
.about-widget .widget-img img{
    width: 75%;
    margin: auto;
    
}

.about-widget .widget-img:after{
    position: absolute;
    content: "";
    width: 50%;
    height: 25px;
    background-color: rgba(0,0,0,0.2);
    left: 50%;
    transform: translateX(-50%) scale(0);
    border-radius: 50%;
    top: calc(100%  + 10px);
    transition: all .3s cubic-bezier(.53,-.01,0,1.49)
}
.about-widget:hover .widget-img{
    margin-bottom: 50px;
}
.about-widget:hover .widget-img:after{
    transform: translateX(-50%) scale(1);
}

.partner{
    
}
.partner div{
    display: inline-block;
    vertical-align: middle;
    margin: 10px
}
.partner div a {
    display: block;
    padding: 20px;
    border: 5px solid #fff;
    box-shadow: 0 0 30px 6px rgba(31,51,73,.1);
    border-radius: 25px;
    transition: all .3s cubic-bezier(.53,-.01,0,1.49);
}
.partner div a:hover{
    border-radius: 0;
}
.partner div img{
    max-width: 180px;
    margin: auto
}
/*contact
======================== */
.contact{
    background: #bef7ff
}   
.contact-form i{
    margin-left: 3px
}
.contact-form a {
    font-weight: lighter
}
/* footer
================ */
footer{
    background-color: #173D64;
    padding: 20px 0;
    color: #FFF;
    text-align: center;
}
footer p {
    width: 90%;
    max-width: 750px;
    margin: 20px auto
}
footer ul{
    
}
footer ul li{
    display: inline-block
}
footer ul li a{
    display: block;
    font-size: 20px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #173D64;
    color: #fff;
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
    cursor: pointer;
}
footer ul li a:hover {
    background-color: #FFF;
    color: #173D64;
}
/* sponsor
=============== */
.sponsor{
    color: #173D64;
    text-align: center;
    padding: 80px 0;
}
.sponsor .widget{
    box-shadow: 0 4px 20px 0 rgba(0,0,0,0.3);
    padding: 20px;
    border-radius: 20px;
    margin-top: 30px
}
.sponsor .widget img{
    width: 150px;
    filter: grayscale(100%);
    margin: auto
}

/* Preload */
.load {
  background-color: #173D64;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.load img {
  width: 150px;
  animation: opac 0.9s ease-in-out  alternate-reverse infinite;
}

@-webkit-keyframes opac {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes opac {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}


#scroll {
  position: fixed;
  bottom: 0;
  left: 38px;
  z-index: 999;
  cursor: pointer;
  display: none;
    color: #fff
}
#scroll i {
  width: 25px;
  position: relative;
  left: -19px;
}
#scroll:after {
  content: "";
  position: absolute;
  left: -20px;
  bottom: 0;
  border-width: 20px;
  border-style: solid;
  border-top-color: transparent;
  border-bottom-color: #173D64;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-width: 0px;
  -webkit-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(3);
  z-index: -1;
}
/* stat
===================== */
.stat{
    background-color: #f6f6f6;
    color: #173D64;
    padding: 70px
}
.stat .details{
    text-align: center
}
.stat .details span{
    font-size: 35px
}
.stat .details p{
    
}

/*whatsapp
==============*/ 
.whatsapp{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #FFF;
    font-size: 25px;
    background-color: #25D366;
    cursor: pointer;
    transition:all .3s cubic-bezier(.53,-.01,0,1.49);
}
.whatsapp a{
    display: block;
    text-align: center;
    line-height: 53px
}
.whatsapp:hover{
    box-shadow:0px 5px 5px 3px rgba(31,51,73,.1); 
}